# Frontend
node_modules/
dist/
vite.config.js
vite.config.d.ts

# Environment files
.env
.env.*
.env.local
.env.production
.env.development.local
.env.production.local
!.env.example

# Logs
*.log

# TypeScript build info
*.tsbuildinfo

# .NET
bin/
obj/

# IDE/editor
.vs/
.vscode/
.idea/

# Visual Studio user-specific files
*.csproj.user

# Backup files
*.old

# Visual Studio publish profiles
**/Properties/PublishProfiles/